---
import Accordion from "./Accordion.astro";
import { getListPage } from "@/lib/contentParser.astro";
import type { FaqSection } from "@/types";

const faqEntry = await getListPage("faqSection", "faq");
const faqData: FaqSection = faqEntry.data;
if (!faqData.enable) return;
---

<section class="section">
  <div class="container">
    <div class="section-container grid lg:grid-cols-2">
      <div class="section-intro max-lg:text-center">
        <div class="sticky top-(--header-height)">
          <h2 class="title lg:ml-0" set:html={faqData.title} />
          <p class="subtitle lg:ml-0">{faqData.description}</p>
          {
            faqData.button && faqData.button.enable && faqData.button.link && (
              <a href={faqData.button.link} class="btn btn-outline mt-9">
                {faqData.button.label}
              </a>
            )
          }
        </div>
      </div>
      <div class="section-content">
        <div class="space-y-4">
          {
            faqData.items.map((item) => (
              <Accordion title={item.question} content={item.answer} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
