---
import PricingCheckout from "./PricingCheckout";

interface Feature {
  label: string;
  included: boolean;
  tooltip?: string;
}
interface Props {
  price: string;
  yearly_price: string;
  title: string;
  is_featured?: boolean;
  offer_text?: string;
  button: { enable: boolean; label: string; link: string };
  description?: string;
  features?: Feature[];
}
const {
  price,
  yearly_price,
  title,
  is_featured = false,
  offer_text,
  button,
  description,
  features,
} = Astro.props;
---

<div
  class={`py-10 px-7 rounded-3xl text-left relative ${is_featured ? "bg-light/50 overflow-hidden" : "bg-light/80"}`}
>
  {
    is_featured && (
      <>
        <div class="absolute bottom-0 right-0 translate-y-1/2 translate-x-1/2 grid place-items-center -z-10">
          <div class="size-160 bg-radial from-primary to-transparent from-0% to-70% rounded-full" />
        </div>
        <div class="absolute top-10 right-5 transform bg-primary/50 text-white text-xs font-semibold py-1.5 px-3 rounded-lg">
          {offer_text ?? "Most Popular"}
        </div>
      </>
    )
  }

  <div class="mb-10 leading-none relative">
    <span class="text-white text-h3 font-semibold price-tag opacity-0">I</span>
    <span
      class="text-white text-h3 font-semibold price-tag absolute left-0 top-0"
      data-price-tag-monthly
    >
      ${price}
      <span class="ml-1 text-sm text-text transition-all duration-300"
        >/ Per Month</span
      >
    </span>
    <span
      class="text-white text-h3 font-semibold price-tag opacity-0 absolute left-0 top-0"
      data-price-tag-yearly
    >
      ${yearly_price}
      <span class="ml-0.5 text-sm text-text transition-all duration-300"
        >/ Per Month</span
      >
    </span>
  </div>

  <h3 class="text-h6 text-white mb-5">{title}</h3>
  <p class="text-text-dark">{description}</p>

  {
    button.enable && (
      <PricingCheckout 
        client:load 
        planTitle={title}
        monthlyPrice={price}
        yearlyPrice={yearly_price}
        buttonLabel={button.label}
        isFeatured={is_featured}
      />
    )
  }

  <div class="text-white font-bold mb-6">Features Included</div>

  <ul class="space-y-4">
    {
      (features || []).map((f) => (
        <li class="flex items-start gap-x-4">
          {f.included ? (
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="24" height="24" rx="6" fill="var(--color-primary)" />
              <path
                d="M11.1799 15.6864L17.6989 8.82757C18.1004 8.40902 18.1004 7.73247 17.6989 7.31392C17.2974 6.89536 16.6484 6.89536 16.2468 7.31392L10.4539 13.4159L7.75315 10.5847C7.35164 10.1661 6.70265 10.1661 6.30113 10.5847C5.89962 11.0032 5.89962 11.6798 6.30113 12.0983L9.72792 15.6864C9.92816 15.8951 10.191 16 10.4539 16C10.7168 16 10.9797 15.8951 11.1799 15.6864Z"
                fill="white"
              />
            </svg>
          ) : (
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                opacity="0.2"
                width="24"
                height="24"
                rx="6"
                fill="var(--color-text-light)"
              />
              <rect
                x="18"
                y="11"
                width="2"
                height="12"
                rx="1"
                transform="rotate(90 18 11)"
                fill="white"
                fill-opacity="0.4"
              />
            </svg>
          )}
          <span>{f.label}</span>
          {f.tooltip && (
            <div class="relative group">
              <svg
                class="mt-1 group-hover:text-primary text-white transition-colors duration-150"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M9.375 9.375H10V13.75H10.625"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M10 7.5C10.5178 7.5 10.9375 7.08027 10.9375 6.5625C10.9375 6.04473 10.5178 5.625 10 5.625C9.48223 5.625 9.0625 6.04473 9.0625 6.5625C9.0625 7.08027 9.48223 7.5 10 7.5Z"
                  fill="currentColor"
                />
              </svg>
              <div class="absolute bottom-full right-0 bg-text-light/5 backdrop-blur-lg py-2 px-3 rounded-lg hidden group-hover:block w-40 lg:w-75 text-sm text-white shadow-lg translate-x-1/2">
                {f.tooltip}
              </div>
            </div>
          )}
        </li>
      ))
    }
  </ul>
</div>
