---
import Base from "@/layouts/Base.astro";
import Badge from "@/layouts/components/Badge.astro";
import BrandsCarousel from "@/layouts/components/BrandsCarousel.astro";
import CallToAction from "@/layouts/components/CallToAction.astro";
import Faq from "@/layouts/components/Faq.astro";
import GradientBlob from "@/layouts/components/GradientBlob.astro";
import ImageMod from "@/layouts/components/ImageMod.astro";
import OurStory from "@/layouts/components/OurStory.astro";
import TeamCard from "@/layouts/components/TeamCard.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Features from "@/partials/Features.astro";
import Testimonial from "@/partials/Testimonial.astro";
import type { About } from "@/types";

const about = await getListPage("about", "-index");
const aboutData: About = about.data;
---

<Base {...aboutData}>
  <!-- Page Header -->
  <section class="section-ph pb-20 overflow-hidden">
    <div class="container">
      <div class="lg:max-w-4xl mx-auto text-center">
        <h1
          class="hasHighlight mb-6"
          set:html={markdownify(aboutData.page_header.title)}
        />
        <p class="mb-5 text-lg text-text">{aboutData.page_header.subtitle}</p>
        <ImageMod
          src={aboutData.page_header.image}
          alt="Team collaboration meeting"
          class="w-full h-auto object-cover aspect-video lg:aspect-1000/520 rounded-3xl mt-20"
        />
      </div>
      <div
        class="absolute inset-0 h-full w-full max-h-113 overflow-hidden -z-10"
      >
        <canvas class="heroSporeCanvas w-full opacity-70"></canvas>
      </div>
    </div>
    <div
      class="absolute left-1/2 top-0 -translate-y-1/2 -translate-x-1/2 size-160 xl:size-300 -z-20 blur-2xl"
      style="background: radial-gradient(circle, var(--color-primary) 0%, color-mix(in srgb, var(--color-primary) 78%, transparent) 20%, transparent 70%);"
    >
    </div>
    <div class="absolute top-0 left-0 flex flex-col gap-6 -z-10">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="567"
        height="558"
        fill="none"
      >
        <g opacity=".5">
          <g filter="url(#a-about)" style="mix-blend-mode: plus-lighter"
            ><path
              fill="url(#b-about)"
              d="M-20.527-7.51 10.182-43l259.774 233.148-13.283 15.352-277.2-213.01Z"
            ></path></g
          >
          <g filter="url(#c-about)" style="mix-blend-mode: plus-lighter"
            ><path
              fill="url(#d-about)"
              d="M-52 13.659-20.788-25l267.328 224.459-13.502 16.722-285.04-202.522Z"
            ></path></g
          >
          <g filter="url(#e-about)" style="mix-blend-mode: plus-lighter"
            ><path
              fill="url(#f-about)"
              d="M-108.079-4.9-66.125-46l290.011 307.352-18.147 17.779-313.818-284.03Z"
            ></path></g
          >
          <g filter="url(#g-about)"
            ><ellipse
              cx="143"
              cy="252.378"
              fill="var(--color-primary-light)"
              fill-opacity=".5"
              rx="143"
              ry="252.378"
              transform="scale(-1 1) rotate(46.133 191.203 -117.756)"
            ></ellipse></g
          >
        </g>
        <defs>
          <filter
            id="a-about"
            width="338.484"
            height="296.5"
            x="-44.527"
            y="-67"
            color-interpolation-filters="sRGB"
            filterUnits="userSpaceOnUse"
            ><feFlood flood-opacity="0" result="BackgroundImageFix"
            ></feFlood><feBlend
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend><feGaussianBlur
              result="effect1_foregroundBlur"
              stdDeviation="12"></feGaussianBlur></filter
          >
          <filter
            id="c-about"
            width="346.541"
            height="289.181"
            x="-76.001"
            y="-49"
            color-interpolation-filters="sRGB"
            filterUnits="userSpaceOnUse"
            ><feFlood flood-opacity="0" result="BackgroundImageFix"
            ></feFlood><feBlend
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend><feGaussianBlur
              result="effect1_foregroundBlur"
              stdDeviation="12"></feGaussianBlur></filter
          >
          <filter
            id="e-about"
            width="379.965"
            height="373.131"
            x="-132.079"
            y="-70"
            color-interpolation-filters="sRGB"
            filterUnits="userSpaceOnUse"
            ><feFlood flood-opacity="0" result="BackgroundImageFix"
            ></feFlood><feBlend
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend><feGaussianBlur
              result="effect1_foregroundBlur"
              stdDeviation="12"></feGaussianBlur></filter
          >
          <filter
            id="g-about"
            width="914.454"
            height="906.103"
            x="-348.178"
            y="-349.061"
            color-interpolation-filters="sRGB"
            filterUnits="userSpaceOnUse"
            ><feFlood flood-opacity="0" result="BackgroundImageFix"
            ></feFlood><feBlend
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"></feBlend><feGaussianBlur
              result="effect1_foregroundBlur"
              stdDeviation="125"></feGaussianBlur></filter
          >
          <linearGradient
            id="b-about"
            x1="-5.173"
            x2="258.744"
            y1="-25.255"
            y2="203.106"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="var(--color-primary)"></stop><stop
              offset="1"
              stop-color="var(--color-primary)"
              stop-opacity="0"></stop></linearGradient
          >
          <linearGradient
            id="d-about"
            x1="-36.394"
            x2="235.144"
            y1="-5.671"
            y2="213.574"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="var(--color-primary)"></stop><stop
              offset="1"
              stop-color="var(--color-primary)"
              stop-opacity="0"></stop></linearGradient
          >
          <linearGradient
            id="f-about"
            x1="-87.102"
            x2="208.568"
            y1="-25.45"
            y2="276.359"
            gradientUnits="userSpaceOnUse"
            ><stop stop-color="var(--color-primary)"></stop><stop
              offset="1"
              stop-color="var(--color-primary)"
              stop-opacity="0"></stop></linearGradient
          >
        </defs>
      </svg>
    </div>
  </section>
  <hr
    class="h-px bg-linear-to-r from-transparent from-10% via-white/50 to-90% to-transparent border-0"
  />

  <!-- Trusted By Section -->
  <BrandsCarousel />

  <!-- Stats Section -->
  {
    aboutData.stats.enable && (
      <section class="section relative">
        <div class="container">
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
            {aboutData.stats.items.map((stat: any) => (
              <div class="text-center p-8 lg:p-10 lg:py-26 rounded-2xl bg-primary/10">
                <div class="text-h2 lg:text-h1 leading-none font-bold font-secondary text-white mb-4">
                  {stat.value}
                </div>
                <p class="text-text text-h6">{stat.label}</p>
              </div>
            ))}
          </div>
        </div>
        <div class="-translate-y-140">
          <GradientBlob />
        </div>
      </section>
    )
  }

  <!-- CEO Letter Section -->
  <OurStory />

  <!-- Meet Our Team Section -->
  {
    aboutData.our_team.enable && (
      <section class="section relative isolate overflow-hidden">
        <div class="container">
          <div class="section-container">
            <div class="section-intro centralize">
              <Badge title={aboutData.our_team.badge} />
              <h2
                class="title hasHighlight"
                set:html={markdownify(aboutData.our_team.title)}
              />
            </div>
            <div class="section-content">
              <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
                {aboutData.our_team.members.map((member: any) => (
                  <TeamCard
                    image={member.image}
                    name={member.name}
                    role={member.role}
                  />
                ))}
              </div>
            </div>
          </div>
        </div>
      </section>
    )
  }

  <!-- Core Values -->
  {
    aboutData.core_values.enable && (
      <Features our_features={aboutData.core_values} />
    )
  }

  <!-- Testimonials Section -->
  <Testimonial />

  <!-- FAQ -->
  <Faq />

  <!-- Call to Action -->
  <CallToAction />
</Base>
